@include('main')

@pushTo('main')
<h1>Salut {{ auth.user.username }}, {{ score }} puntos</h1>
<ul>
@each (token in tokens)
  <li>{{token.code}} : {{ token.value }}, par {{token.claimedBy}} </li>
@end
</ul>
@end
