@import url(var/var.css);
@import url(component/components.css);
@import url(view/view.css);

body {
  background-color: var(--bg);
}

.wrapper {
  margin: 0 1rem;
}

.row {
  display: flex;
  gap: 2px;
  flex-direction: row;
}
