nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
  margin: 0 20px;

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1em;
  }
}

a {
  text-decoration: none;

  :hover {
    text-decoration: underline;
  }
}
