@import url(_nav.css);
@import url('_table.css');
@import url('_form.css');
@import url('_button.css');
@import url('_notification.css');

.sbinnala {
  animation-duration: 2s;
  animation-name: sbin;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes sbin {
  from {
    transform: rotate3d(0, 1, 0, 180deg);
  }

  to {
    transform: rotate3d(0, 0, 0, 180deg);
  }
}
