@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
  color: var(--font-white);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-500);
}

a {
  color: var(--secondary-500);
}

a:hover, a:focus {
  text-decoration: underline;
}
